*,
*::before,
*::after {
   box-sizing: border-box;
}
*:focus:not(:focus-visible) {
      outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   padding: 0;
   margin: 0;
}
ul {
   padding-left: 0;
}
li {
   list-style: none;
   cursor: default;
}

html,
body {
   font-weight: normal;
   scroll-behavior: smooth;
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
h1 {
   color: chocolate;
   text-align: center;
}
.container {
   width: 1200px;
   margin: 0 auto;
}
.nav__item {
   font-size: 20px;
}